<header id="main">
  <h1>Semikols</h1>
  <p class="tagline">Some useful projects</p>

  <nav>
    <% @projects.each do |p| %>
    <a href="#<%= p[:id] %>"><%= p[:title] %></a>
    <% end %>
  </nav>

</header>

<% @projects.each do |p| %>
<section class="project preview" id="<%= p[:id] %>">
  <a href="<%= p[:url] %>"><img src="<%= p[:image] %>" alt="<%= p[:title] %>"></a>
  <header>
    <h2><%= p[:title] %></h2>
    <p class="project-description">Online Pygments service</p>
  </header>
</section>
<% end %>
